<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shop.kakebe.KaKebe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZodongoFoods"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name="com.shop.kakebe.KaKebe.DeliveryAddress"
            android:exported="false" />
        <activity
            android:name="com.shop.kakebe.KaKebe.SearchView"
            android:exported="false" />
        <activity android:name="com.shop.kakebe.KaKebe.ManageOrders" />
        <activity
            android:name="com.shop.kakebe.KaKebe.PlaceOrder"
            android:exported="true" />
        <activity
            android:name="com.shop.kakebe.KaKebe.MyMenuDetail"
            android:exported="true" />
        <activity
            android:name="com.shop.kakebe.KaKebe.MySelectedCategory"
            android:exported="true" />
        <activity
            android:name="com.shop.kakebe.KaKebe.RootActivity"
            android:exported="true" />
        <activity
            android:name="com.shop.kakebe.KaKebe.RegisterMaterial"
            android:exported="true" />
        <activity
            android:name="com.shop.kakebe.KaKebe.LoginMaterial"
            android:exported="true" />
        <activity
            android:name="com.shop.kakebe.KaKebe.OnBoarding"
            android:exported="true" />
        <activity
            android:name="com.shop.kakebe.KaKebe.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.shop.kakebe.KaKebe.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT">
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/kakebelogo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_200" />

    </application>

</manifest>